# Secrets
.env

# Personal Data & Database
database/
files/

# Binaries & Logs
bin/
*.log
aether.log

# System-specific service
systemd/aether.service

# OS Junk
.DS_Store

#services
nginx/
caddy_data/
caddy_config/
AetherVault_Backups/
