# Secrets
.env

# Personal Data & Database
database/
files/

# Binaries & Logs
bin/
*.log
aether.log

# System-specific service
systemd/aether.service

# OS Junk
.DS_Store

#services
nginx/
caddy_data/
caddy_config/
AetherVault_Backups/

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Action runner files
actions-runner/
