[Unit]
Description=AetherVault Personal Cloud Service
After=network.target tailscaled.service

[Service]
User=anumoymajhi
Group=anumoymajhi
Type=simple
WorkingDirectory=/home/anumoymajhi/AetherVault
ExecStart=/home/anumoymajhi/AetherVault/bin/filebrowser -d /home/anumoymajhi/AetherVault/database/aether.db
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
